
._admin-body{
    min-height: 200px;
    width: 60%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    .menuBotonesAdmin{
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }

    .icon{
        transition: all 300ms;
        .icono-admin{
            font-size: 64px;
            cursor: pointer;
            transition: all 300ms;

            &:hover{
                font-size: 74px;
            }
        }

    }
    p{
        margin: 20px 0px 0 0px;
        
    }
    
    
    .user{
        color:#1b396a;
        &:hover{
            color: #09295c;
        }
    }

    .books{
        color: #25760a;
        &:hover{
            color: #206309
        }
    }

    .prestamo{
        color: rgb(242, 97, 0);
        &:hover{
            color: rgb(255, 115, 0)
        }
    }
}

.nameUser{
    color: green;
}


.ant-card-meta-title{
    border-bottom: 1px solid black;
    

}



@media (max-width: 600px) {
    ._admin-body{
        width: 100%;
    .menuBotonesAdmin{
        width: 100;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .cards{
            margin-bottom: 20px;
        }

        
    }
    p{
        margin:0 0 10px 0;
    }
}    
  }
  