._bookScreen-body{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
    ._bookScreen-imagen{
        width: 400px;
        padding: 10px;
        margin-right: 50px;
    }
    ._bookScreen-info{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

     
    }

    
};



.table-custom{
    text-align: center;
}

@media (max-width: 1277px) {
    
    ._bookScreen-body{
        ._bookScreen-imagen{
            width:70%;
        
        }
        ._bookScreen-info{
            width: 80%;
            
        }
    
    };
  }
  




@media (max-width: 788px) {
    
    ._bookScreen-body{
            flex-direction: column;
            margin-top: 20px;
            margin-bottom: 20px;
        ._bookScreen-imagen{
            margin-right: 0px;
            width: 100%
        }
    
    };
  }
  


@media (max-width: 588px) {
    h1{
        margin-right: 0 !important;
    };
  };
  
