._LibroScreen-body{
    margin: 20px 0px;
    width: 100%;
    min-height: 100vh;

    .tablebody{
        font-size: 12px;
        text-align: center;
    }

    .table-row{
        background-color: rgb(233, 231, 231);
        transition: all 300ms;
        
        &:hover{
            background-color: #ccc;
        }

    };

    .font-id{
        font-size: 12px;
    }

    .imagen-libro{
        width: 60px;
        height: 60px;
    }
}