._LibroScreen-body{
    margin: 20px 0px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .buscar{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        input{
            &::placeholder{
                text-align: center;
            }
        }
    }

    .añadir{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tablebody{
        font-size: 12px;
        text-align: center;
    }

    .table-row{
        transition: all 300ms;
        
        &:hover{
            background-color: rgb(204, 204, 204);
        }

    };
    .activo{
        background-color: rgb(233, 231, 231);
    }
    .inactivo { 
        background-color: rgba(192, 191, 191, 0.837);

        color: gray;
    }

    .font-id{
        font-size: 12px;
    }

    .imagen-libro{
        width: 60px;
        height: 60px;
    }
}


.botones-accion{
    
    display: flex;
    justify-content: space-around;
}


