
//Variables
$base-border: 1px solid black;


.container{
    min-height: 100vh;
    max-height: auto;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    .saludo{
        text-align: center;
        margin: 20px 0;
    }
    
    .menuBotones{
        min-height: 200px;
        
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 20px;

        .cards{
            margin-bottom: 20px;
        }   

    }
    span{
        font-size: 22px;
        color: green;
    }
    .avisos{
        height: 300px;
        text-align: center;
        overflow-y: scroll;
        margin-bottom: 30px;

        
        p{
            text-align: center;
        }
    }
}

.ant-card-cover > *{
    padding: 10px;
}

ul{
    padding-left: 0;
}

.events{

    li{
        list-style: none;
    }

        .ant-badge-status-text{
            font-size: 8px;
        }
    }
    .ant-badge-status{
        line-height: 7px;
    }
  

@media (max-width: 600px) {
    .container{

        .menuBotones{
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 250px;
            

            
        }
    }
    
    
  }
  




