/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: rgba(245, 247, 245, 0.864);
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 500px;
    overflow-y: scroll;
    outline: none;
    padding: 10px;
}



.modal-form{

    height: 100%;
    text-align: center;
    .form-custom{
        width: 100%;
        display: flex;
        justify-content: center;
        .inputsForm{
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }
        input{
            text-align: center;
            width: 100%;
        }
    }
}

.file{
    display: none;
}


//ant desing
.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border: none;
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border: none;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input{
    height: 39px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    height: 39px;
}

.ant-select-single .ant-select-selector::after, .ant-select-single .ant-select-selector .ant-select-selection-item::after, .ant-select-single .ant-select-selector .ant-select-selection-placeholder::after{
    padding-top: 3px;
}